{% extends 'base.html' %}
{% load static %}
{% block content %}


    <body class="res layout-subpage">
    <div id="wrapper" class="wrapper-full">
        <!-- Header Container  -->

        <!-- //Header Container  -->
        <!-- Main Container  -->
        <div class="main-container container">
            <ul class="breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i></a></li>
                <li><a href="#">Smartphone & Tablets</a></li>
            </ul>
            <div class="row">
                <!--Left Part Start -->
                <aside class="col-sm-4 col-md-3" id="column-left">
                    <div class="module block-shopby titleLine">
                        <h3 class="modtitle"><span>Shop By </span></h3>
                        <div class="modcontent ">
                            <form class="type_2">

                                <div class="table_layout filter-shopby">
                                    <div class="table_row">
                                        <!-- - - - - - - - - - - - - - Category filter - - - - - - - - - - - - - - - - -->
                                        <div class="table_cell" style="z-index: 103;">
                                            <legend>Search</legend>

                                            <div class="input-group">
                                                <input class="form-control" type="text" value="" size="50"
                                                       autocomplete="off" placeholder="Search" name="search">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-default inverse" type="button"
                                                            id="submit_text_search"><i class="fa fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div><!--/ .table_cell -->
                                        <!-- - - - - - - - - - - - - - End of category filter - - - - - - - - - - - - - - - - -->
                                        <!-- - - - - - - - - - - - - - SUB CATEGORY - - - - - - - - - - - - - - - - -->
                                        <div class="table_cell">
                                            <fieldset>
                                                <legend>Sub Category</legend>
                                                <ul class="checkboxes_list">
                                                <h3>
                                                            <a href="{% url 'urun'  %}">Tum urunler</a>
                                                        </h3>

                                                    {% for category in categories %}
                                                        <h3>
                                                            <a href="{% url 'urun' category.id %}">{{ category.isim }}</a>
                                                        </h3>
                                                    {% endfor %}
{#                                                    <li>#}
{#                                                        <input type="checkbox" checked="" name="category"#}
{#                                                               id="category_1">#}
{#                                                        <label for="category_1">Smartphone & Tablets</label>#}
{#                                                    </li>#}
                                                </ul>

                                            </fieldset>

                                        </div><!--/ .table_cell -->
                                        <!-- - - - - - - - - - - - - - End SUB CATEGORY - - - - - - - - - - - - - - - - -->
                                        <!-- - - - - - - - - - - - - - Manufacturer - - - - - - - - - - - - - - - - -->
                                        <div class="table_cell">
                                            <fieldset>
                                                <legend>Manufacturer</legend>
                                                <ul class="checkboxes_list">
                                                    <li>
                                                        <input type="checkbox" checked="" name="manufacturer"
                                                               id="manufacturer_1">
                                                        <label for="manufacturer_1">Manufacturer 1</label>
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" name="manufacturer" id="manufacturer_2">
                                                        <label for="manufacturer_2">Manufacturer 2</label>
                                                    </li>
                                                    <li>
                                                        <input type="checkbox" name="manufacturer" id="manufacturer_3">
                                                        <label for="manufacturer_3">Manufacturer 3</label>
                                                    </li>

                                                </ul>

                                            </fieldset>

                                        </div><!--/ .table_cell -->
                                        <!-- - - - - - - - - - - - - - End manufacturer - - - - - - - - - - - - - - - - -->

                                        <!-- - - - - - - - - - - - - - Price - - - - - - - - - - - - - - - - -->
                                        <div class="table_cell">
                                            <fieldset>
                                                <legend>Price</legend>
                                                <div class="range">
                                                    Range :
                                                    <span class="min_val">$188.73</span> -
                                                    <span class="max_val">$335.15</span>
                                                    <input type="hidden" name="" class="min_value" value="188.73">
                                                    <input type="hidden" name="" class="max_value" value="335.15">
                                                </div>
                                                <div id="slider"
                                                     class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                                                    <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                                                    <span class="ui-slider-handle ui-state-default ui-corner-all"></span>
                                                    <span class="ui-slider-handle ui-state-default ui-corner-all"></span>
                                                </div>
                                            </fieldset>
                                        </div><!--/ .table_cell -->

                                        <!-- - - - - - - - - - - - - - End price - - - - - - - - - - - - - - - - -->

                                        <!-- - - - - - - - - - - - - - Price - - - - - - - - - - - - - - - - -->



                                        <!-- - - - - - - - - - - - - - End price - - - - - - - - - - - - - - - - -->

                                    </div><!--/ .table_row -->
                                    <footer class="bottom_box">
                                        <div class="buttons_row">

                                            <button type="reset" class="button_grey filter_reset">Reset All</button>
                                        </div>
                                    </footer>
                                </div><!--/ .table_layout -->
                            </form>
                        </div>
                    </div>

                    <div class="module latest-product titleLine">
                        <h3 class="modtitle"><span>Latest Product</span></h3>
                        <div class="modcontent ">
                            <div class="product-latest-item">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="#"><img src="{% static 'image/demo/shop/product/m1.jpg' %}" alt="Cisi Chicken"
                                                         title="Cisi Chicken" class="img-responsive"
                                                         style="width: 90px; height: 90px;"></a>
                                    </div>
                                    <div class="media-body">
                                        <div class="caption">
                                            <h4><a href="#">Sunt Molup</a></h4>

                                            <div class="price">
                                                <span class="price-new">$100.00</span>
                                            </div>
                                            <div class="ratings">
                                                <div class="rating-box">
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                                            class="fa fa-star-o fa-stack-1x"></i></span>
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                                            class="fa fa-star-o fa-stack-1x"></i></span>
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                                            class="fa fa-star-o fa-stack-1x"></i></span>
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                                            class="fa fa-star-o fa-stack-1x"></i></span>
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                                            class="fa fa-star-o fa-stack-1x"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="module">
                        <div class="modcontent clearfix">
                            <div class="banners">
                                <div>
                                    <a href="#"><img src="{% static 'image/demo/cms/left-image-static.png' %}" alt="left-image"></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </aside>
                <!--Left Part End -->


                <!--Middle Part Start-->
                <div id="content" class="col-md-9 col-sm-8">
                    <div class="products-category">
                        <div class="category-derc form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p><img src="{% static 'image/demo/shop/category/electronic-cat.png' %}"
                                            alt="Apple Cinema 30&quot;"><br></p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <!--- Subcategories - -->

                        <!---//Subcategories - -->
                        <!-- Filters -->
                        <div class="product-filter filters-panel">
                            <div class="row">
                                <div class="col-md-2 visible-lg">
                                    <div class="view-mode">
                                        <div class="list-view">
                                            <button class="btn btn-default grid " data-view="grid" data-toggle="tooltip"
                                                    data-original-title="Grid"><i class="fa fa-th"></i></button>
                                            <button class="btn btn-default list active" data-view="list"
                                                    data-toggle="tooltip" data-original-title="List"><i
                                                    class="fa fa-th-list"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="short-by-show form-inline text-right col-md-7 col-sm-8 col-xs-12">
                                    <div class="form-group short-by">
                                        <label class="control-label" for="input-sort">Sort By:</label>
                                        <select id="input-sort" class="form-control">
                                            <option value="" selected="selected">Default</option>
                                            <option value="">Name (A - Z)</option>
                                            <option value="">Name (Z - A)</option>
                                            <option value="">Price (Low &gt; High)</option>
                                            <option value="">Price (High &gt; Low)</option>
                                            <option value="">Rating (Highest)</option>
                                            <option value="">Rating (Lowest)</option>
                                            <option value="">Model (A - Z)</option>
                                            <option value="">Model (Z - A)</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="input-limit">Show:</label>
                                        <select id="input-limit" class="form-control">
                                            <option value="" selected="selected">9</option>
                                            <option value="">25</option>
                                            <option value="">50</option>
                                            <option value="">75</option>
                                            <option value="">100</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="box-pagination col-md-3 col-sm-4 col-xs-12 text-right">
                                    <ul class="pagination">
                                        <li class="active"><span>1</span></li>
                                        <li><a href="">2</a></li>
                                        <li><a href="">&gt;</a></li>
                                        <li><a href="">&gt;|</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- //end Filters -->
                        <!--changed listings-->
                        <div class="products-list row list">

                            {% for urun in urundetail %}
                                <div class="product-layout  col-md-3 col-sm-6 col-xs-12">
                                    <div class="product-item-container">
                                        <div class="left-block">
                                            <div class="product-image-container lazy second_img ">
                                                <img data-src="{{ urun.image.url }}"
                                                     style="width: 100%;  max-height: 220px;min-height: 220px"
                                                     src="{{ urun.image.url }}" alt="Apple Cinema 30&quot;"
                                                     class="img-1 img-responsive"/>
                                                <img data-src="{{ urun.image.url }}"
                                                     style="width: 100%;  max-height: 220px;min-height: 220px"
                                                     src="{{ urun.image.url }}" alt="Apple Cinema 30&quot;"
                                                     class="img-2 img-responsive"/>
                                            </div>
                                            <!--Sale Label-->
                                            <span class="label label-sale">{{ urun.urun_ismi }}</span>
                                            <!--full quick view block-->
                                            <div class="countdown_box">
                                                <div class="countdown_inner">
                                                    <div class="defaultCountdown-30"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="right-block">
                                            <div class="caption">


                                                <div class="price">
                                                    <span class="price-new">{{ urun.fiyat_birimi }} {{ urun.fiyat }}</span>
                                                    <span class="price-old">${{ urun.asil_fiyat }}</span>
                                                    <span class="label label-percent">-{{ urun.indirim }}%</span>
                                                    <h3>
                                                            <a href="{% url 'urundetail' urun.id %}">{{ urun.urun_ismi }}</a>
                                                        </h3>


                                                </div>
                                                <p>{{ urun.aciklama|truncatechars:40 }}</p>
                                            </div>
                                        </div><!-- right block -->


                                    </div>
                                </div>
                            {% endfor %}

                        {% for urun in urunler %}
                                <div class="product-layout  col-md-3 col-sm-6 col-xs-12">
                                    <div class="product-item-container">
                                        <div class="left-block">
                                            <div class="product-image-container lazy second_img ">
                                                <img data-src="{{ urun.image.url }}"
                                                     style="width: 100%;  max-height: 220px;min-height: 220px"
                                                     src="{{ urun.image.url }}" alt="Apple Cinema 30&quot;"
                                                     class="img-1 img-responsive"/>
                                                <img data-src="{{ urun.image.url }}"
                                                     style="width: 100%;  max-height: 220px;min-height: 220px"
                                                     src="{{ urun.image.url }}" alt="Apple Cinema 30&quot;"
                                                     class="img-2 img-responsive"/>
                                            </div>
                                            <!--Sale Label-->
                                            <span class="label label-sale">{{ urun.urun_ismi }}</span>
                                            <!--full quick view block-->
                                            <div class="countdown_box">
                                                <div class="countdown_inner">
                                                    <div class="defaultCountdown-30"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="right-block">
                                            <div class="caption">


                                                <div class="price">
                                                    <span class="price-new">{{ urun.fiyat_birimi }} {{ urun.fiyat }}</span>
                                                    <span class="price-old">${{ urun.asil_fiyat }}</span>
                                                    <span class="label label-percent">-{{ urun.indirim }}%</span>
                                                    <h3>
                                                            <a href="{% url 'urundetail' urun.id %}">{{ urun.urun_ismi }}</a>
                                                        </h3>


                                                </div>
                                                <p>{{ urun.aciklama|truncatechars:40 }}</p>
                                            </div>
                                        </div><!-- right block -->


                                    </div>
                                </div>
                            {% endfor %}
                            {#                                        <div class="button-group">#}
                            {#                                            <button class="wishlist btn-button" type="button" data-toggle="tooltip"#}
                            {#                                                    title="Add to Wish List" onclick="wishlist.add('42');"><i#}
                            {#                                                    class="fa fa-heart"></i></button>#}
                            {#                                            <button class="addToCart" type="button" data-toggle="tooltip"#}
                            {#                                                    title="Add to Cart" onclick="cart.add('42', '1');"><i#}
                            {#                                                    class="fa fa-shopping-cart"></i> <span class="hidden-xs name-cart">Add to Cart</span>#}
                            {#                                            </button>#}
                            {#                                            <button class="compare" type="button" data-toggle="tooltip"#}
                            {#                                                    title="Compare this Product" onclick="compare.add('42');"><i#}
                            {#                                                    class="fa fa-exchange"></i></button>#}
                            {#                                            <a class="quickview iframe-link visible-lg btn-button" data-toggle="tooltip"#}
                            {#                                               title="" data-fancybox-type="iframe" href="quickview.html"#}
                            {#                                               data-original-title="Quickview"> <i class="fa fa-search"></i> </a>#}
                            {#                                        </div>#}
                            {#                                    </div>#}
                            {#                                </div>#}


                        </div>
                        <!--// End Changed listings-->
                        <!-- Filters -->
                        <div class="product-filter product-filter-bottom filters-panel">
                            <div class="row">
                                <div class="col-md-2 hidden-sm hidden-xs">

                                </div>
                                <div class="short-by-show text-center col-md-7 col-sm-8 col-xs-12">
                                    <div class="form-group" style="margin: 3px 10px">Showing 1 to 9 of 10 (2 Pages)
                                    </div>
                                </div>
                                <div class="box-pagination col-md-3 col-sm-4 text-right">
                                    <ul class="pagination">
{#                                        {% if previos %}#}
{#                                            <li><a href="?page={{ page|add:-1 }}">Prev</a></li>#}
{#                                        {% endif %}#}
{##}
{##}
{#                                        <li><a href="#">1</a></li>#}
{#                                        {% if next %}#}
{#                                            <li><a href="?page={{ page|add:1 }}">Next</a></li>#}
{#                                        {% endif %}#}

                                    </ul>
                                </div>

                            </div>
                        </div>
                        <!-- //end Filters -->
                    </div>
                </div>
                <!--Middle Part End-->
            </div>
        </div>
        <!-- //Main Container -->
        <!-- Footer Container -->

        <!-- //end Footer Container -->
    </div>

    <!-- Cpanel Block -->
    <div id="sp-cpanel_btn" class="isDown visible-lg">
        <i class="fa fa-cog fa-spin"></i>
    </div>

    <div id="sp-cpanel" class="sp-delay">
        <h2 class="sp-cpanel-title"> Demo Options <span class="sp-cpanel-close"> <i class="fa fa-times"> </i></span>
        </h2>
        <div id="sp-cpanel_settings">
            <div class="panel-group">
                <label>Color Scheme</label>
                <div class="group-schemes">
                    <span data-scheme="default" class="item_scheme selected"><span style="background: #e8622d;"></span></span>
                    <span data-scheme="blue" class="item_scheme"><span style="background: #478bca;"></span></span>
                    <span data-scheme="boocdo" class="item_scheme"><span style="background: #e54e4e;"></span></span>
                    <span data-scheme="cyan" class="item_scheme"><span style="background: #1ea181;"></span></span>
                    <span data-scheme="green" class="item_scheme "><span style="background: #52a633;"></span></span>

                </div>
            </div>

            <div class="panel-group ">
                <label>Header style</label>
                <div class="group-boxed">
                    <select id="change_header_type" name="cpheaderstype" class="form-control"
                            onchange="headerTypeChange(this.value);">
                        <option value="header-home1">Header 1</option>
                        <option value="header-home2">Header 2</option>
                        <option value="header-home3">Header 3</option>
                        <option value="header-home4">Header 4</option>
                        <option value="header-home5">Header 5</option>
                        <option value="header-home6">Header 6</option>
                        <option value="header-home7">Header 7</option>
                        <option value="header-home8">Header 8</option>
                        <option value="header-home9">Header 9</option>
                        <option value="header-home10">Header 10</option>

                    </select>
                </div>
            </div>


            <div class="panel-group ">
                <label>Layout Box</label>
                <div class="group-boxed">
                    <select id="cp-layoutbox" name="cplayoutbox" class="form-control"
                            onchange="changeLayoutBox(this.value);">
                        <option value="full">Wide</option>
                        <option value="boxed">Boxed</option>
                        <option value="iframed">Iframed</option>
                        <option value="rounded">Rounded</option>
                    </select>
                </div>
            </div>

            <div class="panel-group">
                <label>Body Image</label>

                <div class="group-pattern">
                    <div data-pattern="28" class="img-pattern"><img src="image/theme/patterns/28.png" alt="pattern 28">
                    </div>
                    <div data-pattern="29" class="img-pattern"><img src="image/theme/patterns/29.png" alt="pattern 29">
                    </div>
                    <div data-pattern="30" class="img-pattern"><img src="image/theme/patterns/30.png" alt="pattern 30">
                    </div>
                    <div data-pattern="31" class="img-pattern"><img src="image/theme/patterns/31.png" alt="pattern 31">
                    </div>
                    <div data-pattern="32" class="img-pattern"><img src="image/theme/patterns/32.png" alt="pattern 32">
                    </div>
                    <div data-pattern="33" class="img-pattern"><img src="image/theme/patterns/33.png" alt="pattern 33">
                    </div>
                    <div data-pattern="34" class="img-pattern"><img src="image/theme/patterns/34.png" alt="pattern 34">
                    </div>
                    <div data-pattern="35" class="img-pattern"><img src="image/theme/patterns/35.png" alt="pattern 35">
                    </div>
                    <div data-pattern="36" class="img-pattern"><img src="image/theme/patterns/36.png" alt="pattern 36">
                    </div>
                    <div data-pattern="37" class="img-pattern"><img src="image/theme/patterns/37.png" alt="pattern 37">
                    </div>
                    <div data-pattern="38" class="img-pattern"><img src="image/theme/patterns/38.png" alt="pattern 38">
                    </div>
                    <div data-pattern="39" class="img-pattern"><img src="image/theme/patterns/39.png" alt="pattern 39">
                    </div>
                    <div data-pattern="40" class="img-pattern"><img src="image/theme/patterns/40.png" alt="pattern 40">
                    </div>
                    <div data-pattern="41" class="img-pattern"><img src="image/theme/patterns/41.png" alt="pattern 41">
                    </div>
                    <div data-pattern="42" class="img-pattern"><img src="image/theme/patterns/42.png" alt="pattern 42">
                    </div>
                    <div data-pattern="43" class="img-pattern"><img src="image/theme/patterns/43.png" alt="pattern 43">
                    </div>
                    <div data-pattern="44" class="img-pattern"><img src="image/theme/patterns/44.png" alt="pattern 44">
                    </div>
                    <div data-pattern="45" class="img-pattern"><img src="image/theme/patterns/45.png" alt="pattern 45">
                    </div>
                </div>
                <p class="label-sm">Background only applies for Boxed,Framed, Rounded Layout</p>
            </div>

            <div class="reset-group">
                <a href="../../templates/index.html" class="btn btn-success " onclick="ResetAll()">Reset</a>
            </div>

        </div>

    </div>


    <link rel='stylesheet' property='stylesheet' href='css/themecss/cpanel.css' type='text/css' media='all'/>

    <!-- Preloading Screen -->

    <!-- End Preloading Screen -->

    <!-- Include Libs & Plugins
        ============================================ -->
    <!-- Placed at the end of the document so the pages load faster -->

    </body>

{% endblock %}